---
import "../styles/global.css";
import "../styles/main.css";
import { ClientRouter } from "astro:transitions";

interface Props {
  title?: string;
}

const { title = "SWE" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <ClientRouter />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet"
      />
    </noscript>
    <link
      rel="preload"
      href="/assets/bg_estimate.svg"
      as="image"
      type="image/svg+xml"
      fetchpriority="high"
    />
  </head>
  <body>
    <main>
      <header transition:persist>
        <div class="header-background"></div>
        <div class="header-green"></div>
        <!--<img src="assets/green-item.png" alt="green-item" class="green-item" />-->
        <div class="header-box">
          <a href="/"><img src="assets/logo.svg" alt="logo" class="logo" /></a>
          <div class="header-menu-box">
            <ul class="menu-desktop">
              <li><a href="/about">About us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact us</a></li>
            </ul>
            <div>
              <a class="cta"><span>Get Estimate →</span></a>
              <img src="assets/menu.svg" alt="menu" class="menu" />
            </div>
          </div>
          <div class="mobile-menu-box">
            <div class="mobile-menu-box-header">
              <a href="/"
                ><img src="assets/logo_black.svg" alt="logo" class="logo" /></a
              >
              <img src="assets/close.svg" alt="close" class="close" />
            </div>
            <ul class="mobile-menu">
              <li><a href="/about">About us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact us</a></li>
            </ul>
            <ul class="mobile-social">
              <li><a href="#">Linkedin</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
            </ul>
          </div>
        </div>
      </header>
      <slot />
      <section id="newsletter">
        <div class="container d-column">
          <img src="assets/fav.svg" alt="logo" class="logo" />
          <h2 class="section-title">Stay connected</h2>
          <p>
            Stay in the loop and be the first to know about the latest
            developments! <br />Sign up today to receive our regular updates and
            stay informed about our exciting feature releases.
          </p>
          <form>
            <input type="text" placeholder="Your email address..." />
            <div><input type="submit" value="Join Newsletter" /></div>
          </form>
          <p class="small-text">
            By providing your email address, you are indicating your consent to
            receive commercial information at the email address you have
            provided.<br />
            We wish to inform you that the data controller for your personal information
            is SWE. To learn more about how your data is processed, <a href="#"
              >please contact us.</a
            >
          </p>
        </div>
        <img src="assets/bgNewsletter.svg" alt="bg" class="image-bg" />
        <img src="assets/mbgNewsletter.png" alt="bg" class="image-bg-m" />
      </section>
      <footer>
        <div class="container d-row">
          <div class="footer-logo-box">
            <a href="/"><img src="assets/logo.svg" alt="logo" class="logo" /></a
            >
            <span
              >Let us <b>simplify your journey</b> to success in the digital realm
              with expert guidance.</span
            >
          </div>
          <div class="footer-menu-primary-box">
            <h4>SWE</h4>
            <ul>
              <li><a href="/about">About us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact us</a></li>
              <li><a href="/#whatWeDo">Featured services</a></li>
            </ul>
          </div>
          <div class="footer-menu-primary-box">
            <h4>How we work</h4>
            <ul>
              <li><a href="/#why">Value proposition</a></li>
              <li><a href="/#legacy">Why choose SWE?</a></li>
              <li><a href="/#newsletter">Stay connected</a></li>
              <li><a href="/#careers">Careers</a></li>
            </ul>
          </div>
          <div class="footer-icons-box">
            <div>
              <img src="assets/instagram.svg" alt="instagram" />
            </div>
            <div>
              <img src="assets/facebook.svg" alt="facebook" />
            </div>
            <div>
              <img src="assets/linkedin.svg" alt="linkedin" />
            </div>
          </div>
        </div>
        <div class="container d-row">
          <div class="footer-copyright-box">
            <span>©2023 <b>SWE</b> — All rights reserved.</span>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of use</a>
          </div>
          <a class="cta"><span>Get Estimate →<span></span> </span> </a>
        </div>
        <script>
          document
            .querySelector(".close")!
            .addEventListener("click", function () {
              document
                .querySelector(".mobile-menu-box")!
                .classList.remove("active");
            });
          document
            .querySelector(".menu")!
            .addEventListener("click", function () {
              document
                .querySelector(".mobile-menu-box")!
                .classList.add("active");
            });
        </script>
      </footer>
    </main>
  </body>
</html>
